/* styles for demos, not related to code */
body { font: 14px/1.3 verdana, arial, helvetica, sans-serif; }
h1 { font-size:1.3em; margin: 1em 0 2em; }
a:link { color:#33c; }    
a:visited { color:#339; }

div#wn { 
	position:relative; 
	width:750px; height:100px; 
	overflow:hidden;
	
	}
    
div#inner1, div#inner2 {
    white-space:nowrap;
    }
div#inner1 img {
	padding-right:2px;
	
    }
    
div#wn2	{ 
	position:relative; 
	width:750px; height:80px;
	overflow:hidden;
	}