@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);




#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#header1-1 P {
  font-family: 'Lora', serif;
}
#header1-1 H1 {
  font-family: 'Titillium Web', sans-serif;
}
#slider-2 P {
  font-family: 'Roboto Condensed', sans-serif;
}
#slider-2 H1 {
  font-family: 'Open Sans Condensed', sans-serif;
}
#features1-4 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#features1-4 .mbr-section-title .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
